# Dependencies
node_modules/

# Local Campaign & User Data (Crucial for privacy)
.dndforged-data/
matto.json
vtt_test_drag.png
.env

# System, IDE & Temporary Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.recovered
*.tmp
*.bak
dist/

